
.button{
    display: inline-flex;
    background-color: $mainColor;
    align-items: center;
    gap: rem(18);
    //border-radius: 3px;
    font-weight: 800;
    font-size: rem(20);
    color: #fff ;
    padding: rem(8) rem(24);
    line-height: calc(36 / 20);
    &_white{
        background-color: #fff;
        color: $mainColor;
        border: 1px solid $mainColor;
    }
    @media (any-hover: hover) {
        &:hover{
            background-color: #fff;
            color: $mainColor;
            border: 1px solid $mainColor;
            &.button_white{
                background-color: $mainColor;
                color: #fff;
            }
            
        }
    }
}